body {
    background: url('./whatsapp.png') repeat;
    background-size: 30% 100%;
}

.events-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.events-row {
    width: 100%;
}

.events-col {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.events-card {
    margin: 2%;

}

@media (max-width: 600px){
    .events-card {
        width: 100%;
        justify-content: center;
    
    }
    .events-row {
        width: 100%;
        justify-content: center;

    }

    .events-col {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .events-container {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        text-align: center;
    }
    
}